Source: vdr2jpeg
Section: unknown
Priority: optional
Maintainer: Andreas Brachold <vdr04 -at- deltab.de>
Build-Depends: debhelper (>= 5), libavcodec-dev (>= 0.cvs20060823-4), libavformat-dev (>= 0.cvs20060823-4)
Standards-Version: 3.7.2

Package: vdr2jpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libavcodec0d (>= 0.cvs20060823-4), libavformat0d (>= 0.cvs20060823-4)
Description: Grab jpeg images from VDR-Recordings. 
 This is a simple c++ program to grab jpeg images from VDR-Recordings. 
 vdr2jpeg are used from xxv to generated preview images of recordings.
