<?% IF global.bodyinc.defined %?>
</div>
<?% END %?>
<!-- ###### Ende ###### -->
<?% IF debug %?>
<!-- 
<?% PERL %?>
use Data::Dumper;
print Dumper($stash->_dump_frame(5));
<?% END %?>
-->
<?% END %?>
    </body>
</html>
