<!-- VTXTemplate -->
<?% IF ! global.bodyinc.defined;global.bodyinc = 1 %?>
<body class="frame">
<!-- ###### Seite ###### -->
<?% url = "?cmd=vt&amp;data=" %?>
<div id="sidebar">
  <table summary="">
    <tr><td class="sidehead"><?% gettext("Select",20) %?></td></tr>
    <tr>
        <td class="sidetext">
            <form action="">
                <select size="5" name='chan' onchange="di('?cmd=vc&amp;data=',this.form.chan.options[this.form.chan.options.selectedIndex].value)">
                	<?% FOREACH ch = param.channels %?>
                	    <option value="<?% ch.1 %?>" <?% 'selected="selected"' IF param.channel == ch.1 %?>><?% ch.0 %?></option>
                	<?% END %?>
                </select>
            </form>
        </td>
    </tr>
    <tr>
        <td class="sidebottom"></td>
    </tr>
  </table>
  <table summary="">
    <tr><td class="sidehead"><?% gettext("Page",20) %?></td></tr>
    <tr>
    <td class="sidetext">
    <form method="post" action="?cmd=vt">
        <input type="text" name="data" size="18" value="<?% param.page %?>" />
    </form>
    </td>
    </tr>
<?% BLOCK VTXItem %?>    
        <?% IF page != 0 %?><a href="<?% url %?><?% page %?>"><?% END %?>
            <img src="images/<?% image %?>.<?% global.imagetyp %?>" alt="" title="<?% label %?>" />
        <?% "</a>" IF page != 0 %?>
        &nbsp;
        <?% IF page != 0 %?><a href="<?% url %?><?% page %?>"><?% END %?>
        <?% IF page == 0 %?><font class="deactive"><?% END %?>
        <?% label %?>
        <?% IF page == 0 %?></font><?% END %?>
        <?% "</a>" IF page != 0 %?>
    <br />
<?% END %?>    
    <tr>
        <td class="sidetext">
    <?% PROCESS VTXItem page=param.toppage      image='home'    label=gettext('First page',20) %?>
    <?% PROCESS VTXItem page=param.page_prev    image='back'    label=gettext('Prior page',20) %?>
    <?% PROCESS VTXItem page=param.page_next    image='forward' label=gettext('Next page',20) %?>
    <?% PROCESS VTXItem page=param.subpage_prev image='back'    label=gettext('Prior subpage',20) %?>
    <?% PROCESS VTXItem page=param.subpage_next image='forward' label=gettext('Next subpage',20) %?>
        </td>
    </tr>
    <tr>
    <td class="sidebottom"></td>
    </tr>
  </table>
  <table summary="">
    <tr><td class="sidehead"><?% gettext("Search",20) %?></td></tr>
    <tr>
    <td class="sidetext">
    <form method="post" action="?cmd=vs">
    	<input type="text" name="data" size="18" value="" />
    </form>
    </td>
    </tr>
    <tr>
    <td class="sidebottom"></td>
    </tr>
  </table>
  <p id="sidefooter">&nbsp;</p>
</div>
<?% INCLUDE header.inc %?>
<div id="body">
<h1><?% gettext("Teletext") %?></h1>
<?% END %?>
<div class="areabegin">
  <table class="areatable" summary="">
    <tr><td class="areahead"><?% gettext("Page") %?>&nbsp;<?% param.page; pages = cgi.param('data').split('_'); IF pages.size > 1 && pages.last > 0 %?>/<?% pages.last; END %?></td></tr>
    <tr>
        <td class="areatext" align="center">
            <table summary="" align="center">
                <tr>
                    <td> 
                        <?% FOREACH l = data %?>
                            <?% l %?>
                        <?% END %?>
                   </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td class="areabottom"></td></tr>
</table>
</div>
