<script language="javascript" type="text/javascript">
<!--

    <?% INCLUDE javascript/records.js %?>

-->
</SCRIPT>

<!-- TableTemplate -->
<?% USE date %?>
<h1><?% gettext("TopTen Entrys") %?></h1>
<h6><?% gettext("This Screen list the most programmed EPG Events from all XXV Users. Of course, we list only Events these are exists in your EPG Table!") %?></h6>
<p/>
<table>
<tr>

<!--
<div id="navcontainer">
<ul id="navlist">
    <li><a href="#" onclick="suche('<?% gettext('Search string:') %?>', '?cmd=search&__channel=<?% channelpos %?>&data=', '<?% cgi.param('search') %?>')">
        <?% gettext("Search on Channel") %?></a></li>
    <li><a href='?cmd=switch&amp;data=<?% channelpos %?>'><?% gettext('Switch') %?></a></li>
    <li><a href='?cmd=livestream&amp;data=<?% channelpos %?>' type='audio/x-mpegurl'><?% gettext('Livestream') %?></a></li>
</ul>
</div>
-->

<table border="0" width="95%">
<?% IF data.size %?>
    <?% fields = data.shift %?>
        <tr>
        <?% FOREACH field = [gettext('Service'),gettext('Title'),gettext('Channel'),gettext('Start'),gettext('Rank')] %?>
            <th><?% field %?></th>
        <?% END %?>
        </tr>
        <?% FOREACH zeile = data %?>
            <?% c = 0 %?>
        <tr class="<?% myclass %?>"<?% IF (loop.count mod 2) == 0 %?> bgcolor='#F5F5F5'<?% END %?>>
            <?% FOREACH field = [zeile.0,zeile.1,zeile.4,zeile.5,zeile.8] %?>
                <?% c = c + 1 %?>
                <?% IF c == 1; # Id Field %?>
                <td>
                <?% INCLUDE 'bloecke/event_links.tmpl' data=zeile umbruch='<br/>' %?>
                </td>
                <?% ELSIF c == 2; # Text Field %?>
                <td>
                    <?% INCLUDE bloecke/tooltip.tmpl cmd="display" title=field subtitle=zeile.2 desc=zeile.3 eventid=zeile.0 linkid=zeile.0 ttp_offset=0 %?>
                    <?% IF param.timers.${zeile.0} && param.timers.${zeile.0}.Status %?>
                    <b><?% field %?></b>
                    <?% ELSE %?>
                    <?% field %?>
                    <?% END %?>
                    <?% IF zeile.2.length > 0  %?>
                    <br><small><?% zeile.2 %?></small>
                    <?% END %?>
                    <?% IF zeile.3.length > 0 %?>
                    <br><small><em><?% chop(zeile.3,30) | replace('<br />',' ') %?></em></small>
                    <?% END %?>
                    </a>
                </td>
                <?% ELSIF c == 3; # Channel Field %?>
								<?% cf = reentities(field) %?>
                <td>
    						<a href='?cmd=program&data=<?% param.channels.$cf.POS %?>'><?% param.channels.$cf.Name %?></a>
                </td>
                <?% ELSIF c == 4; # Time Field %?>
                <td>
                  <?% date.format(field,"%x %X",locale) %?>
                </td>
                <?% ELSIF c == 5; # Rank Field %?>
                <td>
                <?% field | format('%d') %?>
                </td>
                <?% ELSE %?>
                    <?% IF param.timers.${zeile.0} && param.timers.${zeile.0}.Status %?>
                            <td><b><?% field %?></b></td>
                    <?% ELSE %?>
                            <td><?% field %?></td>
                    <?% END %?>
                <?% END %?>
            <?% END %?>
        </tr>
        <?% oldday = day %?>
        <?% END %?>
<?% END %?>
</table>
