<!-- Network Template -->
<?% IF ! global.bodyinc.defined;global.bodyinc = 1 %?>
<body class="frame">
<?% INCLUDE status.inc %?>
<?% INCLUDE header.inc %?>
<div id="body">
<?% END %?>
<?%
    USE date;
    statusfiles = [];

    FILTER null;
        name = 'network_stat';
        timestamps = [];
        FOREACH entry = param.stack.first.network;
            iname = entry.first.split(':').first;

            rxbytes.${iname} = [];
            txbytes.${iname} = [];
            rxerror.${iname} = [];
            txerror.${iname} = [];

            oldentry.${iname} = [];
        END;

        FOREACH item = param.stack;
            t = date.format(item.timestamp, '%H:%M');
            timestamps.push(t);

            FOREACH entry = item.network;
                iname = entry.first.split(':').first;

                UNLESS oldentry.${iname}.size;
                    oldentry.${iname} = entry;
                END;

                bytes = entry.1 - oldentry.${iname}.1;
                rxbytes.${iname}.push(bytes);

                bytes = entry.5 - oldentry.${iname}.5;
                txbytes.${iname}.push(bytes);

                rxerror.${iname}.push(entry.3);
                txerror.${iname}.push(entry.7);
                oldentry.${iname} = entry;
            END;
        END;

        FOREACH iname = rxbytes.keys.sort;

            # Data ...
            d = [
                 timestamps,
                 rxbytes.${iname},
                 rxerror.${iname},
                 txbytes.${iname},
                 txerror.${iname},
            ];

            USE my_graph = GD.Graph.lines(375,375);

            # Xsteps
            steps = param.stack.size div 5;
            label = gettext('Traffic on Interface');
            y_label = gettext('Transfer in bytes')
            label = "${label} ${iname} (${y_label})";
            my_graph.set(
                    x_label_skip => steps,
                    x_long_ticks => 1,

                    y_long_ticks => 1,

                    line_width   => 2,
                    box_axis     => 1,
                    boxclr       => '#FFFFCC',
                    fgclr        => '#BBBBBB'
                    legend_placement => 'RD',
                    legend_spacing => 5,
            );
            my_graph.set_title_font(param.font,10);
            my_graph.set_y_label_font(param.font,10);
            my_graph.set_x_label_font(param.font,10);
            my_graph.set_x_axis_font(param.font,6);
            my_graph.set_y_axis_font(param.font,6);
            my_graph.set_legend( 'RxBytes', 'RxErrors', 'TxBytes', 'TxErrors');
            file = writefile("status_network_${iname}.gif", my_graph.plot(d).gif );
            statusfiles.push([ label , file ]);
        END;
    END;
 %?>


<?% IF param.headingText %?>
<h1><?% param.headingText %?></h1>
<?% END %?>



<div class="areabegin">
<table class="largetable" summary="">
    <tr><td class="largehead">&nbsp;</td></tr>
    <tr>
        <td class="largetext">
            <table summary="" width="100%">
                <?% fields = data.shift %?>
                <tr>
                <?% FOREACH field = fields %?>
                    <th><?% field %?></th>
                <?% END %?>
                </tr>
                <?% FOREACH zeile = data %?>
                <tr<?% ' class="two"' IF loop.count mod 2 == 1 %?>>
                    <?% FOREACH field = zeile %?>
                    <td><?% field.replace('\n', '<br />') %?></td>
                    <?% END %?>
                </tr>
                <?% END %?>

            </table>
        </td>
    </tr>
    <tr><td class="largebottom"></td></tr>
</table>
<div class="areaclose"></div>

<?% FOREACH file = statusfiles %?>
<div class="areabegin">
<table class="areatable" summary="">
  <tr>
    <td class="areahead">
      <div class="areahead">
        <?% file.0 %?>
      </div>
    </td>
  </tr>
  <tr>
    <td class="areatext">
      <div style="text-align:center;" >
        <img src="<?% file.1 %?>" alt="<?% file.0 %?>" />
      </div>
    </td>
  </tr>
  <tr><td class="areabottom"></td></tr>
</table>
</div>
<?% END %?>
<div class="areaclose"></div>
